<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Example How to Use EJS</h1>

    <p>you can post to the server using a form.
        Then pass the variables to a new .ejs file
    </p>

    <h2>Variables</h2>
    <p> <em>Username: </em> <%= inputEmail%>
    </p>
    <p> <em> Password:</em> <%= inputPassword%>
    </p>
</body>

</html>